<div class="loading2-content clearfix" ng-cloak>

  <h2 class="md-title">Determinate</h2>

  <p>
    按百分比完成:{{pd.determinateValue}}%
  </p>
  <md-progress-linear md-mode="determinate" value="{{pd.determinateValue}}"></md-progress-linear>

  <h4 class="md-title">Indeterminate</h4>

  <p>
    时间不确定
  </p>
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>

  <h4 class="md-title">Buffer</h4>

  <p>
    从服务器加载 本机加载完成：{{pd.determinateValue}}%&nbsp服务端完成：{{pd.determinateValue2}}%
  </p>
  <md-progress-linear class="md-warn" md-mode="buffer" value="{{pd.determinateValue}}"
                      md-buffer-value="{{pd.determinateValue2}}"
                      ng-disabled="!pd.showList[0]"></md-progress-linear>

  <h4 class="md-title">Query</h4>

  <p>
    对于用户想要指示预加载的情况（直到加载实际上可以）
  </p>

  <div class="container" ng-class="{'visible' : !pd.activated}">
    <md-progress-linear md-mode="query" ng-disabled="!pd.showList[1]"></md-progress-linear>
    <div class="bottom-block">
      <span>Loading application libraries...</span>
    </div>
  </div>

  

  <div id="loaders" layout="row" layout-align="start center">

    <p>Query and Buffer 开关 </p>

    <h5>Off</h5>
    <md-switch
        ng-model="pd.activated"
        ng-change="pd.toggleActivation()"
        aria-label="Enable Indicators">
      <h5>On</h5>
    </md-switch>
  </div>
</div>

<div class="loading2-content clearfix"  ng-cloak>
    <form name="projectForm">

      <md-input-container class="md-block">
        <label>Description</label>
        <input md-maxlength="30" required md-no-asterisk name="description" ng-model="pd.project.description">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
        </div>
      </md-input-container>

      <div layout="row">
        <md-input-container flex="50">
          <label>Client Name</label>
          <input required name="clientName" ng-model="pd.project.clientName">
          <div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex="50">
          <label>Project Type</label>
          <md-select name="type" ng-model="pd.project.type" required>
            <md-option value="app">Application</md-option>
            <md-option value="web">Website</md-option>
          </md-select>
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Client Email</label>
        <input required type="email" name="clientEmail" ng-model="pd.project.clientEmail"
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

        <div ng-messages="projectForm.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Hourly Rate (USD)</label>
        <input required type="number" step="any" name="rate" ng-model="pd.project.rate" min="800"
               max="4999" ng-pattern="/^1234$/" />

        <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            You've got to charge something! You can't just <b>give away</b> a Missile Defense
            System.
          </div>

          <div ng-message="min">
            You should charge at least $800 an hour. This job is a big deal... if you mess up,
            everyone dies!
          </div>

          <div ng-message="pattern">
            You should charge exactly $1,234.
          </div>

          <div ng-message="max">
            {{projectForm.rate.$viewValue | currency:"$":0}} an hour? That's a little ridiculous. I
            doubt even Bill Clinton could afford that.
          </div>
        </div>
      </md-input-container>

      <div>
        <md-button type="submit">Submit</md-button>
      </div>

      <p style="font-size:.8em; width: 100%; text-align: center;">
        Make sure to include <a href="https://docs.angularjs.org/api/ngMessages" target="_blank">ngMessages</a> module when using ng-message markup.
      </p>
    </form>
</div>