<div class="button-content clearfix" ng-cloak>
    <section >
      <md-button>{{pc.title1}}</md-button>
      <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
      <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
      <md-button class="md-warn">{{pc.title4}}</md-button>
      <div class="label">Flat</div>
    </section>

    <section >
      <md-button class="md-raised">Button</md-button>
      <md-button class="md-raised md-primary">Primary</md-button>
      <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>
      <div class="label">Raised</div>
    </section>
    <section>
        <md-button ng-href="{{pc.googleUrl}}" target="_blank">Default Link</md-button>
        <md-button class="md-primary" ng-href="{{pc.googleUrl}}" target="_blank">Primary Link</md-button>

        <md-button>Default Button</md-button>
      <div class="label">Link vs. Button</div>
    </section>
    <section>
        <md-button class="md-fab" aria-label="Eat cake">
            <md-icon md-svg-src="img/icons/user.svg"></md-icon>
        </md-button>

        <md-button class="md-fab md-primary" aria-label="Use Android">
          <md-icon md-svg-src="img/icons/user.svg"></md-icon>
        </md-button>

        <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
            <md-icon md-svg-src="img/icons/user.svg"></md-icon>
        </md-button>

        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
            <md-icon md-svg-src="img/icons/user.svg"></md-icon>
        </md-button>

        <md-button class="md-fab md-mini" aria-label="Eat cake">
            <md-icon md-svg-src="img/icons/user.svg"></md-icon>
        </md-button>

        <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
          <md-icon md-svg-src="img/icons/user.svg" style="color: greenyellow;"></md-icon>
        </md-button>
      <div class="label">FAB</div>
    </section>
    <section>
      <md-button class="md-primary md-hue-1">Primary Hue 1</md-button>
      <md-button class="md-warn md-raised md-hue-2">Warn Hue 2</md-button>
      <md-button class="md-accent">Accent</md-button>
      <md-button class="md-accent md-raised md-hue-1">Accent Hue 1</md-button>
      <div class="label">Themed</div>
    </section>
    <section>
      <md-button class="md-icon-button md-primary" aria-label="Settings">
        <md-icon md-svg-icon="img/icons/user.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button md-accent" aria-label="Favorite">
        <md-icon md-svg-icon="img/icons/user.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="img/icons/user.svg"></md-icon>
      </md-button>
      <md-button href="http://google.com"
                 title="Launch Google.com in new window"
                 target="_blank"
                 ng-disabled="true"
                 aria-label="Google.com"
                 class="md-icon-button launch" >
        <md-icon md-svg-icon="img/icons/user.svg"></md-icon>
      </md-button>
      <div class="label">Icon Button</div>
    </section>
</div>

<div class="datepick-content clearfix" ng-cloak>
  <div style="float:left;">
      <div>
        <h4>Standard date-picker</h4>
        <md-datepicker ng-model="pc.myDate" md-placeholder="Enter date"></md-datepicker>
      </div>

      <div>
        <h4>Disabled date-picker</h4>
        <md-datepicker ng-model="pc.myDate" md-placeholder="Enter date" disabled></md-datepicker>
      </div>
  </div>

  <div style="margin-left:380px;">
      <div>
        <h4>Date-picker with min date and max date</h4>
        <md-datepicker ng-model="pc.myDate" md-placeholder="Enter date"
            md-min-date="pc.minDate" md-max-date="pc.maxDate"></md-datepicker>
      </div>

      <div>
        <h4>Only weekends are selectable</h4>
        <md-datepicker ng-model="pc.myDate" md-placeholder="Enter date"
            md-date-filter="cp.onlyWeekendsPredicate"></md-datepicker>
      </div>
  </div>

    <div>
      <div>
        <h4>Only weekends within given range are selectable</h4>
        <md-datepicker ng-model="pc.myDate" md-placeholder="Enter date"
            md-min-date="pc.minDate" md-max-date="pc.maxDate"
            md-date-filter="cp.onlyWeekendsPredicate"></md-datepicker>
      </div>

      <div>
        <h4>Opening the calendar when the input is focused</h4>
        <md-datepicker ng-model="pc.myDate" md-placeholder="Enter date"
          md-open-on-focus></md-datepicker>
      </div>
    </div>
</div>

<div class="dialog-content clearfix" ng-cloak>
  <p>
    Open a dialog over the app's content. Press escape or click outside to close the dialog and
    send focus back to the triggering button.
  </p>

  <div class="dialog-demo-content">
    <md-button class="md-primary md-raised" ng-click="pc.showAlert($event)"   >
      Alert Dialog
    </md-button>
    <md-button class="md-primary md-raised" ng-click="pc.showConfirm($event)" >
      Confirm Dialog
    </md-button>
    <md-button class="md-primary md-raised" ng-click="pc.showPrompt($event)"  >
      Prompt Dialog
    </md-button>
    <md-button class="md-primary md-raised" ng-click="pc.showAdvanced($event)">
      Custom Dialog
    </md-button>
  </div>
  <p class="footer">Note: The <b>Confirm</b> dialog does not use <code>$mdDialog.clickOutsideToClose(true)</code>.</p>

  <div ng-if="pc.status" id="status">
    <b class="md-padding">
      {{pc.status}}
    </b>
  </div>
</div>

<div  ng-cloak class="loading-content clearfix">

  
    <h4>Determinate</h4>

    <p>按完成百分比：{{pc.determinateValue}}%</p>

    <div>
      <md-progress-circular md-mode="determinate" value="{{pc.determinateValue}}"></md-progress-circular>
    </div>

    <h4>Indeterminate</h4>

    <p>不给定时间</p>

    <div>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <h4>Theming</h4>

    <p>
      不同主题
    </p>

    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular ng-disabled="!pc.activated" class="md-hue-2" md-diameter="20px"></md-progress-circular>
      <md-progress-circular ng-disabled="!pc.activated" class="md-accent" md-diameter="40"></md-progress-circular>
      <md-progress-circular ng-disabled="!pc.activated" class="md-accent md-hue-1" md-diameter="60"></md-progress-circular>
      <md-progress-circular ng-disabled="!pc.activated" class="md-warn md-hue-3" md-diameter="70"></md-progress-circular>
      <md-progress-circular ng-disabled="!pc.activated" md-diameter="96"></md-progress-circular>
    </div>
 

</div>